#wrapper {
  margin: 100px auto;
  text-align: center;
}

.total-cost {
  font-size: 10em;
  margin: 40px;
}

#progress-bar {
  width: 25em;
  margin: 40px auto 40px auto;
}

#progress-bar .ui-widget-header {
  background: #31a21e;
  border-color: #31a21e;
}

#progress-bar.amber .ui-widget-header {
  background: #d6923b;
  border-color: #d6923b;
}

#progress-bar.red .ui-widget-header {
  background: #bc3725;
  border-color: #bc3725;
}

.overrun-time {
  margin: 0px;
  font-size: 5em;
  color: #bc3725;
}

.people-count {
  margin: 80px;
}

input[type="text"] {
  font-size: 1.2em;
  text-align: center;
  width: 5em;
}

input[type="submit"] {
  font-size: 200px;
}
